
@{
    ViewBag.Title = "About";
    ViewBag.DefaultPageSubHeader = "A Bit About Me";
}
 @*TODO:  Include a dynamically generated 'last updated' at the bottom of this page*@

<h2>@ViewBag.Message</h2>
<p>
    I grew up in York, United Kingdom where I attended Manor C.E. School (11-16) and York College (16-18).
    At 18, I moved south to study Chemistry at the University of Bristol.
    After graduating I returned to the University of Bristol to study a postgraduate degree in Aerosol Science under Professor Jonathan Reid.
</p>
<hr />
<h3>Professional Interests</h3>
<p>
    <strong>Programming:</strong> I started learning web development programming in September 2016.
    I have a keen interest in the ASP.NET MVC framework and am familiar with C#, HTML, CSS and Javascript.
    I enjoy creating applications in my spare time, often in the C# language.
</p>

<p>
    <strong>Research Interests:</strong> My primary research interest is the study of the optical and physical properties of ambient,
    man-made aerosol particles. The interactions and influences of such particles with clouds is also of great interest to me.
    Most of my research has, so far, involved field or laboratory measurements of aerosol optical, physical or thermos-physical properties.
    These measurements were geared towards better understanding the impact of aerosol particles on radiative forcing and in particular,
    the impact of light absorbing aerosols such as black carbon. The health impacts of human made aerosols in densely populated areas
    are also of interest to me. In addition, as an asthmatic I am keen to develop my understanding of the properties that govern aerosol
    growth and deposition in the lung.
</p>
<h3>Personal Interests</h3>
<p>
    Interests: Day-to-day, I enjoy running, cooking and visiting the pub. Although preferably not all at once. I also
    love music and having been trying (with varying degrees of success) to learn the guitar for the past 10 years.
    I am also a keen Magic, The Gathering player and try and make time to play with friends at least once a week.
</p>

<h3>Publications:</h3>
<ol>
    <li>
        B.J. Mason, M.I. Cotterell, T.C. Preston J.P. Reid and A.J. Orr-Ewing
        ‘Direct measurements of the optical cross sections and refractive indices of individual volatile and hygroscopic aerosol particles’
        <em>The Journal of Physical Chemistry A</em>,
        <strong>2015</strong>,
        5701-5713.
    </li>
    <li>
        M.I. Cotterell, B.J. Mason, T.C. Preston J.P. Reid and A.J. Orr-Ewing
        ‘Optical extinction efficiency measurements on fine and accumulation mode aerosol using single particle cavity ring-down spectroscopy’
        <em>
            Physical Chemistry Chemical Physics,
        </em>
        <strong>
            2015,
        </strong>
        15843-15856.
    </li>
    <li>
        B.J. Mason, J.S. Walker, J.P. Reid and A.J. Orr-Ewing
        ‘Deviations from plane-wave Mie scatteri0ng and precise retrieval of refractive index for a single spherical particle in an optical cavity’
        <em>
            The Journal of Physical Chemistry A,
        </em>
        <strong>
            2014,
        </strong>
        2083-2088.
    </li>
    <li>
        T.C. Preston, B.J. Mason, J.P. Reid, D. Luckhaus and R. Signorell
        'Size-dependent position of a single aerosol droplet in a Bessel beam trap'
        <em>
            Journal of Optics,
        </em>
        <strong>
            2014,
        </strong>
        1-11.
    </li>
    <li>
        M.I. Cotterell, B.J. Mason, A.E. Carruthers, J.S. Walker, A.J. Orr-Ewing and J.P. Reid
        'Measurements of the evaporation and hygroscopic response of single fine-mode aerosol particles using a Bessel beam optical trap'
        <em>
            Physical Chemistry Chemical Physics,
        </em>
        16(5),
        <strong>
            2014,
        </strong>
        2118-2128.
    </li>
    <li>
        B.J. Mason, S.-J. King, R.E.H. Miles, K.M. Manfred, A.M.J. Rickards, J. Kim, J.P. Reid and A.J. Orr-Ewing
        'Comparison of the Accuracy of Aerosol Refractive Index Measurements from Single Particle and Ensemble Techniques'
        <em>
            The Journal of Physical Chemistry A
        </em>
        116,
        <strong>
            2012,
        </strong>
        8547–8556.

    </li>
</ol>

<p class="copyright">Site created on 24/01/2017</p>
