
@model BerniesBlog.WebUI.Models.BlogPostListViewModel

@{
    ViewBag.DefaultPageSubHeader = ViewBag.GreetingMessage;
}


<!-- Main Content -->

@foreach (var b in Model.BlogPosts)
{
    <div class="post-preview">

        <h2>
            @Html.ActionLink(b.PostTitle, "Post", "Home", new { Name = b.Name, FolderName = b.FolderName}, new { @class = "post-title" })
            @{
                ViewBag.BlogTitle = b.PostTitle;
            }
        </h2>
        <h3 class="post-subtitle" style ="font-weight: 500;">
            @b.Description
        </h3>
        <p class="post-meta">Posted by Bernie on @b.CreationDateTime</p>
    </div>
}


<div class="btn-group">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new {page = x}))
</div>
