
@model BerniesBlog.WebUI.Models.BlogPostViewModel

@{
    ViewBag.DefaultPageSubHeader = ViewBag.GreetingMessage;
}


<!-- Main Content -->

@foreach (var b in Model.BlogPosts)
{
    <div class="post-preview">

        <h2>
            @Html.ActionLink(b.Title, "Post", "Home", new { Name = b.Name}, new { @class = "post-title" })
        </h2>
        <h3 class="post-subtitle">
            @b.Description
        </h3>
        <p class="post-meta">Posted by Bernie on @b.CreationDateTime</p>
    </div>
}


<ul class="pager">
    <li class="next">
        <a href="#">Older Posts &rarr;</a>
    </li>
</ul>
