
@model BerniesBlog.WebUI.Models.RestaurantReviewViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Reviews for @Model.Name</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { restaurantId = Model.Id })
</p>

@Html.Partial("_Reviews", Model.Reviews)

<div>@Html.ActionLink("Return to Restaurants", "Index", "Restaurants")</div>