<!-- Main Content -->
@*TODO Replace this with a for statement that takes the most recent blog posts and outputs their titles, descriptions and creation dates.
    Create a second view that handles up to 4 older posts. Can create another view in the future to handle older ones still*@
<div class="post-preview">
    <a href="~/Home/post">
        <h2 class="post-title">
            Hello World - First blog post
        </h2>
        <h3 class="post-subtitle">
            Bernie's first few months of programming and what he found out.
        </h3>
    </a>
    <p class="post-meta">Posted by Bernie on January 24, 2017</p>
</div>
<hr>
<div class="post-preview">
    <a href="#">
        <h2 class="post-title">
            Future post @ViewBag.Message
        </h2>
        <h3 class="post-subtitle">
            Details of the future post to follow
        </h3>
    </a>
    <p class="post-meta">Posted by Bernie on Month Day, Year</p>
</div>
<hr>
<div class="post-preview">
    <a href="#">
        <h2 class="post-title">
            Future post
        </h2>
        <h3 class="post-subtitle">
            Details of the future post to follow
        </h3>
    </a>
    <p class="post-meta">Posted by Bernie on Month Day, Year</p>
</div>
<hr>
<div class="post-preview">
    <a href="#">
        <h2 class="post-title">
            Future post
        </h2>
        <h3 class="post-subtitle">
            Details of the future post to follow
        </h3>
    </a>
    <p class="post-meta">Posted by Bernie on Month Day, Year</p>
</div>
<hr>
<!-- Pager -->
<ul class="pager">
    <li class="next">
        <a href="#">Older Posts &rarr;</a>
    </li>
</ul>
